@font-face {
    font-family: 'CursedTimerUlil-Aznm';
    src: url('fonts/CursedTimerUlil-Aznm.ttf') format('truetype');
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    margin: 0 auto;
    width: 90vw;
    max-width: 600px;
    min-width: 400px;
    text-align: center;
    padding-bottom: 30px;
}

.container h3 {
    color: white;
    width: 140px;
    margin-bottom: 0px;
    font-size: 20px;
    letter-spacing: 8px;
}

.score-box {
    background-color: black;
    height: 120px;
    width: 120px;
    color: #F94F6D;
    padding: 10px;
    font-size: 72px;
    font-family: 'CursedTimerUlil-Aznm', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 140px;
    gap: 5px;
    padding: 0;
}

.score-buttons button {
    flex: 1 1 0;
    height: 40px;
    font-size: 18px;
}